@page
@model Hephaestus_Project.Pages.Account.IndexModel
@{
}
<div class="text-center">
    <h1 class="display-4">User Account</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>LOGIN</th>
            <th>PASSWORD</th>
            <th>PERMLVL</th>
            <th>CREATED_AT</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.input.Id</td>
                <td>@Model.input.Login</td>
                <td>@Model.input.Password</td>
                <td>@Model.input.PermLVL</td>
                <td>@Model.input.Created_At</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Users/Edit?id=@Model.input.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Users/Delete?id=@Model.input.Id">Delete</a>
                </td>
             </tr>       
    </tbody>
</table>