@page
@model Hephaestus_Project.Pages.Users.EditModel
@{
}

<div class="text-center">
    <h1>Edit User</h1>
</div>
@if (Model.success)
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>User Edited Successfully</strong>
            </div>
        </div>
    </div>
}
@if (Model.error != "NULL")
{
  <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@Model.error</strong>
            </div>
        </div>
   </div>  
}
<form method="post">
    <input type="hidden" asp-for="input.Id" value="@Model.input.Id">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.Name"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="input.Name" value="@Model.input.Name" />
            <span class="text-danger" asp-validation-for="input.Name"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.Surname"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="input.Surname" value="@Model.input.Surname" />
            <span class="text-danger" asp-validation-for="input.Surname"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.Division"></label>
        <div class="col-sm-6">
            <select class="form-control" asp-for="input.Division">
                <option value="None" selected disabled hidden>@Model.input.Division</option>
                <option value="Infantry">Infantry</option>
                <option value="Cavalry">Cavalry</option>
                <option value="Armored">Armored</option>
                <option value="Mountain">Mountain</option>
                <option value="Airborne">Airborne</option>
                <option value="Artillery">Artillery</option>
                <option value="Security">Security</option>
            </select>
            <span class="text-danger" asp-validation-for="input.Division"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.Rank"></label>
        <div class="col-sm-6">
            <select class="form-control" asp-for="input.Rank">
                <option value="None" selected disabled hidden>@Model.input.Rank</option>
                <option value="Private">Private</option>
                <option value="Private First Class">Private First Class</option>
                <option value="Specialist">Specialist</option>
                <option value="Corporal">Corporal</option>
                <option value="Sergeant">Sergeant</option>
                <option value="Staff Sergeant">Staff Sergeant</option>
                <option value="Sergeant First Class">Sergeant First Class</option>
                <option value="Master Sergeant">Master Sergeant</option>
                <option value="First Sergeant">First Sergeant</option>
                <option value="Sergeant Major">Sergeant Major</option>
                <option value="Command Sergeant Major">Command Sergeant Major</option>
                <option value="Sergeant Major of the Army">Sergeant Major of the Army</option>
            </select>
            <span class="text-danger" asp-validation-for="input.Rank"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Users/Index" role="button">Cancel</a>
        </div>
    </div>
</form>