@page
@model Hephaestus_Project.Pages.Soldier.IndexModel
@{
}
<br />
<h2>List of Logins</h2>
<a class="btn btn-primary btn-sm" href="/Soldier/Create">New Login</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>Permission Level</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Logins)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.login</td>
                <td>@item.password</td>
                <td>@item.permissionLevel</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Soldier/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Soldier/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>