@page
@model Hephaestus_Project.Pages.Stock.EditModel
@{
}

<div class="text-center">
    <h1>Edit Stock</h1>
</div>
@if (Model.success)
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Stock Edited Successfully</strong>
            </div>
        </div>
    </div>
}
@if (Model.error != "NULL")
{
  <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@Model.error</strong>
            </div>
        </div>
   </div>  
}
<form method="post">
    <input type="hidden" asp-for="input.Id" value="@Model.input.Id">
    <input type="hidden" asp-for="input.EquipmentID" value="@Model.EQID">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.Serial"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="input.Serial" value="@Model.input.Serial" />
            <span class="text-danger" asp-validation-for="input.Serial"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.UserIDL"></label>
        <div class="col-sm-6">
            <select class="form-control" asp-for="input.UserIDL">
                <option value="None" hidden selected disabled>
                    @foreach (var user in Model.users)
                    {
                        if(user.Id == Model.input.UserIDL)
                        {
                            <text>@user.Id. @user.Name</text>
                        }
                        else
                        {
                            <text></text>
                        }
                    }
                </option>
                <option value="NULL">None</option>
                @foreach (var user in Model.users)
                {
                    <option value="@user.Id">@user.Id. @user.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="input.UserIDL"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.InMaintance"></label>
        <div class="col-sm-6">
            @*<input type="text" class="form-control" asp-for="input.InMaintance" value="@Model.input.UserIDL" />*@
            
            <select class="form-control" asp-for="input.InMaintance">
                <option value="0">NO</option>
                <option value="1">YES</option>
                <span class="text-danger" asp-validation-for="input.InMaintance"></span>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Stock/Index?id=@Model.EQID" role="button">Cancel</a>
        </div>
    </div>
</form>